.footer {
}

.footer-wrapper {
  width: var(--wrapper-width);
  margin: 40px auto;

  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
