# Эта директива включает модуль mod_rewrite в Apache,
# который позволяет перенаправлять URL-адреса на сервере.
RewriteEngine On

# Эта директива проверяет, не существует ли файл с указанным именем в запросе.
# Если файл существует, правило перенаправления не будет применено (!-f).
RewriteCond %{REQUEST_FILENAME} !-f
# Эта директива проверяет, не существует ли папка с указанным именем в запросе.
# Если папка существует, правило перенаправления не будет применено (!-d).
RewriteCond %{REQUEST_FILENAME} !-d

# Эта директива задает правило перенаправления.
# В данном случае, она говорит Apache перенаправить все запросы (^(.*)$) на файл index.php.
# [L] - флаг, означающий, что это последнее правило, которое следует применять.
# Когда это правило выполняется, обработка файла .htaccess завершается.
RewriteRule ^(.*)$ index.php [L]