RewriteEngine On

# Allow existing directories and files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude 'css', 'js', and other asset directories from the slash rule
# RewriteCond %{REQUEST_URI} !^/css/
# RewriteCond %{REQUEST_URI} !^/js/
# RewriteCond %{REQUEST_URI} !^/images/
#
# Redirect only if the request doesn't end with a slash
# RewriteCond %{REQUEST_URI} !/$
# RewriteRule ^(.*)$ /$1/ [L,R=301]

# Handle all other requests with index.php
RewriteRule ^(.*)$ index.php [L]